.h1{
    font-family: "Gurmukhi MN";
    letter-spacing: 5px;
    word-spacing: 40px;
    font-size: 90px;
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}
.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

select{
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    opacity: 70%;
}

label{
    font-family: "Hiragino Sans GB";
    font-size: 20px;
    opacity: 60%;
    color:black;

}

input{
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    opacity: 70%
}

.navigation {
    position: absolute;
    height: 70px;
    width:2000px;
    top:0px;
    left:0px;
    background: #ffffff;
    opacity:80%;
}

.btn {
    position: relative;
    top: 50px;
    left: 125px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    opacity: 70%;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}
body {
    background-color: #63D6E0;
}

.ui{
    position: absolute;
    left:550px;
    top:250px;
}

.dropdown1{
    position: absolute;
    top:53px;
    left:168px;
    width:159px;
}


.box1 {
    position: absolute;
    height: 300px;
    width:500px;
    top:190px;
    left:500px;
    background: whitesmoke;
    opacity:30%;
    z-index:-1;
    border-radius: 30px;
}
img{
    position: absolute;
    left:20px;
    top:15px;
    width:40px;
    height:40px;
    opacity: 80%;
}

h1{
    position: absolute;
    top:0px;
    left:85px;
    opacity:80%;
}
